<table class="table">
    <thead>
        <tr>
            <th scope="col">Nom entreprise</th>
            <th scope="col">Découverte</th>
            <th scope="col">Objet</th>
            <th scope="col">Date</th>
            <th scope="col">Contenu</th>
            <th scope="col">Statut</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody *ngIf="companies && companies.length > 0">
        <ng-container *ngFor="let company of companies">
            <ng-container *ngIf="hasContacts(company); else noContacts">
                <tr *ngFor="let contact of company.contacts; let i = index">
                    <th
                        scope="row"
                        *ngIf="i === 0"
                        [rowSpan]="getNumberOfContacts(company)"
                    >
                        {{ company.name }}
                    </th>
                    <td *ngIf="i === 0" [rowSpan]="company.contacts.length">
                        {{ company.discovery }}
                    </td>
                    <td>{{ contact.object }}</td>
                    <td>{{ contact.date | date }}</td>
                    <td>{{ getDisplayContent(contact.content) }}</td>
                    <td *ngIf="i === 0" [rowSpan]="company.contacts.length">
                        <span
                            class="badge text-bg-{{
                                getBadgeColor(company.status)
                            }}"
                        >
                            {{ company.status }}</span
                        >
                    </td>
                    <td *ngIf="i === 0" [rowSpan]="company.contacts.length">
                        <button class="btn btn-warning btn-sm me-1">
                            Modifier
                        </button>
                        <button class="btn btn-danger btn-sm">Supprimer</button>
                    </td>
                </tr>
            </ng-container>
            <ng-template #noContacts>
                <tr>
                    <th scope="row">{{ company.name }}</th>
                    <td>{{ company.discovery }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <span
                            class="badge text-bg-{{
                                getBadgeColor(company.status)
                            }}"
                            >{{ company.status }}</span
                        >
                    </td>
                    <td>
                        <button class="btn btn-warning btn-sm me-1">
                            Modifier
                        </button>
                        <button class="btn btn-danger btn-sm">Supprimer</button>
                    </td>
                </tr>
            </ng-template>
        </ng-container>
    </tbody>
</table>

<button class="btn btn-primary w-100" [routerLink]="['entreprise']">
    Ajouter une entreprise
</button>
