<table class="table">
    <thead>
        <tr>
            <th scope="col">Nom entreprise</th>
            <th scope="col">Découverte</th>
            <th scope="col">Objet</th>
            <th scope="col">Date</th>
            <th scope="col">Contenu</th>
            <th scope="col">Statut</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody *ngIf="companies && companies.length > 0">
        <ng-container *ngFor="let company of companies">
            <!-- Si l'entreprise a des contacts -->
            <ng-container *ngIf="hasContacts(company); else noContacts">
                <tr *ngFor="let contact of company.contacts; let i = index">
                    <th
                        scope="row"
                        *ngIf="i === 0"
                        [rowSpan]="getNumberOfContacts(company)"
                    >
                        {{ company.name }}
                    </th>
                    <td *ngIf="i === 0" [rowSpan]="company.contacts.length">
                        {{ company.discovery }}
                    </td>
                    <td>{{ contact.object }}</td>
                    <td>{{ contact.date | date }}</td>
                    <td>{{ getDisplayContent(contact.content) }}</td>
                    <td *ngIf="i === 0" [rowSpan]="company.contacts.length">
                        <span
                            class="badge text-bg-{{
                                getBadgeColor(company.status)
                            }}"
                        >
                            {{ company.status }}</span
                        >
                    </td>
                    <td *ngIf="i === 0" [rowSpan]="company.contacts.length">
                        <button
                            class="btn btn-warning btn-sm me-1"
                            [routerLink]="['entreprise', company._id]"
                        >
                            Modifier
                        </button>
                        <button
                            type="button"
                            class="btn btn-danger btn-sm"
                            data-bs-toggle="modal"
                            [attr.data-bs-target]="
                                '#company' + company._id + 'Modal'
                            "
                        >
                            Supprimer
                        </button>
                    </td>
                </tr>
            </ng-container>

            <!-- Si l'entreprise n'a pas de contacts -->
            <ng-template #noContacts>
                <tr>
                    <th scope="row">{{ company.name }}</th>
                    <td>{{ company.discovery }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <span
                            class="badge text-bg-{{
                                getBadgeColor(company.status)
                            }}"
                            >{{ company.status }}</span
                        >
                    </td>
                    <td>
                        <button
                            class="btn btn-warning btn-sm me-1"
                            [routerLink]="['entreprise', company._id]"
                        >
                            Modifier
                        </button>
                        <button
                            type="button"
                            class="btn btn-danger btn-sm"
                            data-bs-toggle="modal"
                            [attr.data-bs-target]="
                                '#company' + company._id + 'Modal'
                            "
                        >
                            Supprimer
                        </button>
                    </td>
                </tr>
            </ng-template>
        </ng-container>
    </tbody>
</table>

<!-- Modale utilisée pour les 2 cas précédents -->
<!-- Elle n'utilise pas la même boucle que pour les <tr> car <table> ajoute du style et crée une bordure à la modale -->
<div
    *ngFor="let company of companies"
    class="modal"
    id="company{{ company._id }}Modal"
    tabindex="-1"
    [attr.aria-labelledby]="'company' + company._id + 'ModalLabel'"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1
                    class="modal-title fs-5"
                    id="company{{ company._id }}ModalLabel"
                >
                    Supprimer {{ company.name }} ainsi que ses contacts ?
                </h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">Cette action est irréversible.</div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Fermer
                </button>
                <button
                    type="button"
                    class="btn btn-danger"
                    data-bs-dismiss="modal"
                    (click)="deleteCompany(company._id)"
                >
                    Supprimer
                </button>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-primary w-100" [routerLink]="['entreprise']">
    Ajouter une entreprise
</button>
